.footer__container{
    max-width: 1240px;
    display: grid; 
    grid-template-columns: 0.6fr 1.2fr; 
    gap: 6px; 
    grid-template-areas: 
        "foto pagina"
        "foto contacto";
    padding-top: 30px;

    .footer__imgContainer{
        grid-area: foto;
        width: $responsive_size-img-s;
        justify-self: end ;

        @media only screen and (min-width: 480px) {
            justify-self: center;
        }
    }

    h3{
        font-size: $responsive_size-xs;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: underline $color_primario;
        color: $blanco;
        text-align: start;
    }

    .footer__paginas{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        grid-area: pagina;
    }

    .footer__contacto{
        @extend .footer__paginas;
        grid-area: contacto;


        a{
            text-transform: lowercase;
            font-family: 'Barlow', sans-serif;
        }
        
        p{
            font-size: $responsive_size-footer;
            margin-bottom: 6px;
            text-align: start;
            padding: 0;
        }
    }

    ul{
        padding-left: 0;

        .face{
            .footer__logo{
                width: clamp(8px, 1.6vw, 15px);
            }
        }

        li{
            display: flex;
            gap: 10px;
            margin-bottom: 10px;

            div{
                width: $responsive_size-logo;
            }
        }
    }

    a{
        font-size: $responsive_size-footer;
    }

        @media only screen and (min-width: 480px) {
            display: grid; 
            grid-template-columns: 2fr 2fr 3fr ; 
            gap: 6px; 
            grid-template-areas: 
                "foto pagina contacto";
        }
}