.footer__container{
    max-width: 1240px;
    display: grid; 
    grid-template-columns: 0.6fr 1.2fr; 
    gap: 6px; 
    grid-template-areas: 
        "foto pagina"
        "foto contacto";
    padding-top: 30px;

    .footer__imgContainer{
        grid-area: foto;
        width: 100px;
        justify-self: end ;

        @media only screen and (min-width: 480px) {
            justify-self: center;
        }
        @media only screen and (min-width: 992px) {
            width: 150px;
        }
    }

    .footer__paginas{
        display: flex;
        flex-direction: column;
        grid-area: pagina;
        margin-left: 15px;
    }

    .footer__contacto{
        display: flex;
        flex-direction: column;
        grid-area: contacto;
        margin-left: 15px;
        
        p{
            font-size: 12px;
            margin-bottom: 6px;
            text-align: start;
            padding: 0;

            @media only screen and (min-width: 768px) {
                    font-size: 17px;
                }
        }
    }

    ul{
        padding-left: 0;
    }

    a{
        font-size: 10px;

        @media only screen and (min-width: 768px) {
            font-size: 15px;
        }
    }

        @media only screen and (min-width: 480px) {
            display: grid; 
            grid-template-columns: 2fr 2fr 3fr ; 
            gap: 6px; 
            grid-template-areas: 
                "foto pagina contacto";
        }
}