.hero__grafico{
    @extend .hero__ilustraciones;

    div{
        max-width: 1024px;
    }

    .hero__grafico--titulo{
        @extend .hero__ilustraciones--titulo;
    }
}

.trabajos_grafico{
    margin-top: 40px;
}

.grafico__video{
    margin-top: 40px;
    background-color: $color_primario;
    padding: 20px 0px;

    @media only screen and (min-width: 992px) {
        background: linear-gradient(45deg, rgba(45,45,45,1) 20%, rgba(241,131,195,1) 20%, rgba(241,131,195,1) 24%, rgba(45,45,45,1) 24%, rgba(45,45,45,1) 25%, rgba(241,131,195,1) 25%);
        }
}

.grafico__video h2{
    grid-area: titulo ;

    @media only screen and (min-width: 992px) {
        align-self: flex-end;
        text-align: start;
        }

    @media only screen and (min-width: 1024px) {
        font-size: 45px ;
        }
}

.grafico__video p{
    grid-area: parrafo ;

    @media only screen and (min-width: 992px) {
        align-self: flex-start ;
        text-align: start;
        }

    @media only screen and (min-width: 1024px) {
        font-size: 24px;
        }
}

.grafico__video article{
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo"
                        "parrafo"
                        "video";

    @media only screen and (min-width: 992px) {
        height: 400px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "video video titulo "
                            "video video parrafo ";
        }
}

.video__container {
    @extend .video__container;

    @media only screen and (min-width: 992px) {
            align-self: center;
        }
}

.grafico__empresas{
    margin-top: 40px;
    background-color: $blanco;
}

.grafico__empresas h3{
    font-size: 30px;
    padding-top: 30px;
}

.grafico__logo--container{
    @extend .ilustraciones__logo--container;
}