header{
    background-color: $color_secundario;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: clamp(4.0625rem, 10vw, 8.125rem);
    box-shadow: 0px 2px 10px #121212;
}

.navbar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.navbar>.container-fluid{
    height: 100%;
}

.navbar-brand{
    display: flex;
    align-items: center;
    height: 100%;
    max-width: min(15.6875rem, 60%);
}

.navbar-toggler{
    font-size: min(.8rem + 1vw, 2rem);
}

.navbar-collapse {
    background-color: $color_secundario;
    margin: 0.5rem -0.75rem;
    padding-left: 0.75rem;
    box-shadow: 0px 2px 10px #121212;

    @media only screen and (min-width: 992px) {
            box-shadow: 0px 0px 0px #00000000;
        }
}

.navbar-dark .navbar-nav .nav-link {
    color: $blanco;
    font-size: clamp(0.625rem, 10px + 1vw, 1.25rem);

    @media only screen and (min-width: 992px) {
            font-size: clamp(0.625rem, 4px + 1vw, 1.25rem);
        }
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $color_primario;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: $color_primario;
}

nav li{
    padding: 0.4375rem;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
    border-color: $color_primario;
    color: $color_primario;
}