.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/fondorosa.webp);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;

    .hero-banner{
        display: flex;
        @include ancho (100%, 1240px);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .titulo{
            font-size: $responsive_size-xxl;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-weight: 100;
            width: 100%;
        }

        .subtitulo{
            font-size: $responsive_size-xxl;
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            width: 100%;
            margin-top: -3.125rem;
        }

        div{
            .boton{
                color: $color_primario;
                background-color: $blanco;
                border: $blanco;
            }

            a{
                font-size:clamp(3vw, 3vh , 60px);

                @media only screen and (min-width: 992px) {
                        font-size: clamp(2vw, 3vh , 2.5rem);
                    }
            }
            a:hover {
                color: $blanco;
                background-color: $color_secundario;
            }
        }
    }
}