.conoceme{
    display: grid;
    justify-content: center;
    justify-items: center;
    max-width: 1240px;
    grid-template-columns: 1 1fr;
    grid-template-areas: 
    "titulo"
    "titulo"
    "foto"
    "foto"
    "foto"
    "parrafo"
    "parrafo"
    "boton";

    .conoceme__foto-container{
        grid-area: foto;
        justify-self: center;
        margin-top: 50px;
        width: $responsive_size-img-l;
    }

    h1{
        grid-area: titulo;

        @media only screen and (min-width: 992px) {
            text-align: start;
            align-self: flex-end;
        }
    }

    p{
        grid-area: parrafo;
        max-width: 90%;
        text-align: center;
        padding: 15px 10px;

        @media only screen and (min-width: 992px) {
                text-align: start;
                align-self: center;
            }
    }

    .boton-conoceme{
        margin: 20px auto;

        a{
            grid-area: boton;
        }

        @media only screen and (min-width: 992px) {
                margin: 0;
            }

        @media only screen and (min-width: 1024px) {
            align-self: flex-start ;
        }
    }

    @media only screen and (min-width: 992px) {
            display: grid;
            justify-items: flex-start;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "foto titulo"
            "foto titulo"
            "foto parrafo"
            "foto parrafo"
            "foto boton";
        }
}
