.hero__historia{
    margin-top: clamp(4.0625rem, 10vw, 8.125rem);
    background-image: url(../img/fondorosa.webp);
    background-size: cover;

    .hero__historia--titulo{
        text-align: end;
        margin-right: 10px;
    }
}

.hero__historia--banner{
    max-width: 1024px;
}

.sobreMi{
    margin-top: 1.25rem;
    width: 90%;
    max-width: 1240px;

    div{
        width: $responsive_size-img-l;
        grid-area: s-foto;
        }

        @media only screen and (min-width: 992px) {
            display: grid;
            align-items: center;
            justify-items: start;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "s-foto s-titulo"
            "s-foto s-pparrafo"
            "s-foto s-sparrafo";
            gap: 0.3125rem;
        }

        h2{
            grid-area: s-titulo;
            align-self: flex-end;
        }
        p{
            text-align: center;            
            padding: 0;
            align-self: flex-start;
            
            @media only screen and (min-width: 992px) {
                text-align: start;
            }
        }
        .sobreMi--primerParrafo{
            grid-area: s-pparrafo;
            align-self: center;
        }
        .sobreMi--segundoParrafo{
            grid-area: s-sparrafo;
        }
}

.trayectoria{
    background-color: $color_primario;

    @media only screen and (min-width: 992px) {
        background: linear-gradient(135deg, rgba(241,131,195,1) 0%, rgba(241,131,195,1) 63%, rgba(38,38,38,1) 63%, rgba(38,38,38,1) 100%);
    }

    .trayectoria__container{
        width: 90%;
        max-width: 1024px;

        h2{
            padding-top: 1.25rem;
            @media only screen and (min-width: 992px) {
                    grid-area: t-titulo;
                    align-self: flex-end;
                    justify-self: flex-end;
                }
        }

        div{
            width: $responsive_size-img-m;

            @media only screen and (min-width: 992px) {
                grid-area: t-foto;
            }
        }

        @media only screen and (min-width: 992px) {
                display: grid;
                align-items: center;
                justify-items: start;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                "t-titulo t-foto"
                "t-pparrafo t-foto"
                "t-sparrafo t-foto";
                gap: 5px;
                margin-top: 1.875rem;
            }

        @media only screen and (min-width: 992px) {
            p{
                text-align: start;
                align-self: flex-start;
            }
        }

        .trayectoria--primerParrafo{
            grid-area: t-pparrafo;
            align-self: center;
        }
        
        .trayectoria--segundoParrafo{
            grid-area: t-sparrafo;
        }
    }
}

.conocimientos{
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
    max-width: 1024px;

    .conocimientos__foto{
        display: none;

        @media only screen and (min-width: 992px) {
                display: block;
                grid-area: c-foto;
                width: $responsive_size-img-m;
                margin-right: 40px;
            }
    }

    @media only screen and (min-width: 768px) {
        .container{
            display: grid;
            grid-template-columns: 2 1fr, 1 1fr;
            grid-template-areas: 
            "c-foto c-titulo"
            "c-foto c-parrafo"
            "c-foto c-logos";
            align-items: center;
            justify-items: start;
        }
    }

    @media only screen and (min-width: 768px) {
        h2{
            grid-area: c-titulo;
        }
    }
    
    p{
        display: none;

        @media only screen and (min-width: 768px) {
                display: block;
                margin: 0.625rem 0px;
                grid-area: c-parrafo;
                text-align: start;
            }
    }
}

.conocimientos__logo--container{
    max-width: 100vw;

    .conocimientos__logo{
        display: flex;
        align-items: center;
        margin: 0.5625rem -0.6875rem 0px 0.1875rem;
        flex-direction: column;

        @media only screen and (min-width: 509px) {
            flex-direction: row;
        }

        .conocimientos__img{
            width: 3.75rem;
            margin-bottom: 0.625rem;
        }

        h3{
            color: $blanco;
            margin: 0px 0.3125rem;
            text-align: center;
            font-size: $responsive_size-paragraph-s;

            @media only screen and (min-width: 509px) {
                text-align: start;
            }
        }
    }

    @media only screen and (min-width: 768px) {
            grid-area: c-logos;
        }
}