.hero__ilustraciones{
    @extend .hero__historia;

    div{
        max-width: 1024px;
    }

    .hero__ilustraciones--titulo{
        @extend .hero__historia--titulo;
    }
}

.trabajos_ilustraciones{
    margin-top: 40px;
}

.ilustraciones__video{
    margin-top: 40px;
    background-color: $color_primario;
    padding: 20px 0px;

    @media only screen and (min-width: 992px) {
        background: linear-gradient(90deg, rgba(241,131,195,1) 0%, rgba(241,131,195,1) 60%, rgba(45,45,45,1) 60%, rgba(45,45,45,1) 99%);
        }
}

.ilustraciones__video h2{
    grid-area: titulo ;
    font-size: $responsive_size-m;

    @media only screen and (min-width: 992px) {
        align-self: flex-end;
        text-align: start;
        margin-left: 138px;
        }

    @media only screen and (min-width: 1024px) {
        font-size: 45px ;
        margin-left: 50px;
        }
}

.ilustraciones__video p{
    grid-area: parrafo ;

    @media only screen and (min-width: 992px) {
        align-self: flex-start ;
        text-align: start;
        margin-left: 138px;
        }

    @media only screen and (min-width: 1024px) {
        font-size: 24px;
        margin-left: 40px;
        }
}

.ilustraciones__video article{
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo"
                        "parrafo"
                        "video";

    @media only screen and (min-width: 992px) {
        height: 400px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "titulo video video"
                            "parrafo video video";
        }
}

.video__container {
    @include ancho (90vw, 620px);
    @include alto (51vw, 350px);
    box-shadow: -10px 10px 10px #262626a8 ;
    grid-area: video;

    @media only screen and (min-width: 992px) {
            align-self: flex-start;
            margin-left: 50px;
        }
}

.ilustraciones__empresas{
    margin-top: 40px;
    background-color: $blanco;
    width: 100%;
}

.ilustraciones__empresas h3{
    font-size: $responsive_size-l;
    padding-top: 30px;
}

.ilustraciones__logo--container{
    margin-bottom: 10px;
    @include ancho (100%, 1240px);
}