.trabajos-container{
    margin-top: 3.125rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(241,131,195,1) 0%, rgba(241,131,195,1) 25%, rgba(9,9,121,0) 25%, rgba(230,125,192,0) 75%, rgba(241,131,195,1) 75%, rgba(241,131,195,1) 100%);


    h2{
        color: $blanco;
        text-align: center;
        font-weight: 900;
        margin-bottom: 3.125rem;
    }

    .trabajos{
        display: flex;
        flex-direction: column;
        gap: 0.9375rem;

        @media only screen and (min-width: 992px) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            @include ancho (60%, 1240px);
            flex-wrap: wrap;
        }

        article{
            margin: 3.125rem 0px;
            width: 16rem;
            height: 16rem;
            background-color: #2d2d2d;
            border-radius: 1.25rem;
            box-shadow: 1.25rem 1.25rem 0.9375rem 0 #121212;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .trabajos__ind--iconos{
                width: 130px;
                margin-top: -85px;
            }

            @media only screen and (min-width: 768px) {
                width: 21.875rem;
                height: 28.125rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                    h3{
                        margin: 0%;
                    }
            }

            @media only screen and (min-width: 992px) {
                width: 18.75rem;
                height: 28.125rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
        }
        

        p{
            display: none;
            font-size: 0.9375rem;

            @media only screen and (min-width: 768px) {
                    display: block;
                }
        }

        .trabajos__boton-container{
            margin-bottom: 3.125rem;
        }

        a{
            margin: 1.25rem;
        }
    }
}