$color_primario: #f183c3;
$color_secundario: #262626;
$color_complementario: #2d2d2d;
$blanco: #fff;
$negro: #000;

$responsive_size-h1: clamp(40px, 8vw, 80px);
$responsive_size-h2: clamp(30px, 6vw, 60px);
$responsive_size-title: clamp(45px, 8vw, 100px);
$responsive_size-p: clamp(14px, 1.6vw , 20px);
$responsive_size-img-grande: clamp(256px, 50vw, 550px);
$responsive_size-img-chica: clamp(256px, 30vw, 350px);
