.hero__web{
    margin-top: clamp(65px, 17vw, 130px);
    background-image: url(../img/fondorosa.jpg);
    background-size: cover;

    div{
        max-width: 1024px;
    }

    .hero__web--titulo{
        text-align: end;
        font-size: clamp(40px, 12vw , 60px);
        margin-right: 10px;
    }
}

.trabajos_web{
    margin-top: 40px;
}

.web__video{
    margin-top: 40px;
    background-color: $color_primario;
    padding: 20px 0px;

    @media only screen and (min-width: 992px) {
        background: linear-gradient(315deg, rgba(45,45,45,1) 0%, rgba(45,45,45,1) 6%, rgba(241,131,195,1) 6%, rgba(241,131,195,1) 10%, rgba(45,45,45,1) 10%, rgba(45,45,45,1) 15%, rgba(241,131,195,1) 15%, rgba(241,131,195,1) 18%, rgba(45,45,45,1) 18%, rgba(45,45,45,1) 20%, rgba(241,131,195,1) 20%);
        }
}

.web__video h2{
    grid-area: titulo ;

    @media only screen and (min-width: 992px) {
        align-self: flex-end;
        text-align: start;
        margin-left: 138px;
        }

    @media only screen and (min-width: 1024px) {
        font-size: 45px ;
        margin-left: 50px;
        }
}

.web__video p{
    grid-area: parrafo ;

    @media only screen and (min-width: 992px) {
        align-self: flex-start ;
        text-align: start;
        margin-left: 138px;
        }

    @media only screen and (min-width: 1024px) {
        font-size: 24px;
        margin-left: 40px;
        }
}

.web__video article{
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo"
                        "parrafo"
                        "video";

    @media only screen and (min-width: 992px) {
        height: 400px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "titulo video video"
                            "parrafo video video";
        }
}

.video__container {
    width: 90vw;
    max-width: 620px;
    height: 51vw;
    max-height: 350px;
    box-shadow: -10px 10px 10px #262626a8 ;
    grid-area: video;

    @media only screen and (min-width: 992px) {
            align-self: flex-start;
            margin-left: 50px;
        }
}

.web__empresas{
    margin-top: 40px;
    background-color: $blanco;
}

.web__logo--container{
    margin-bottom: 10px;
    width: 100vw;
    max-width: 1240px;
    display: flex;
}