.hero__web{
    @extend .hero__historia;

    div{
        max-width: 1024px;
    }

    .hero__web--titulo{
        @extend .hero__historia--titulo;
    }
}

.trabajos_web{
    margin-top: 2.5rem;
}

.web__video{
    @extend .ilustraciones__video;

    @media only screen and (min-width: 992px) {
        background: linear-gradient(315deg, rgba(45,45,45,1) 0%, rgba(45,45,45,1) 6%, rgba(241,131,195,1) 6%, rgba(241,131,195,1) 10%, rgba(45,45,45,1) 10%, rgba(45,45,45,1) 15%, rgba(241,131,195,1) 15%, rgba(241,131,195,1) 18%, rgba(45,45,45,1) 18%, rgba(45,45,45,1) 20%, rgba(241,131,195,1) 20%);
        }
}

.web__video h2{
    grid-area: titulo ;
    font-size: $responsive_size-m;

    @media only screen and (min-width: 992px) {
        align-self: flex-end;
        text-align: start;
        margin-left: 6.625rem;
        }

    @media only screen and (min-width: 1024px) {
        font-size: 2.8125rem ;
        margin-left: 3.125rem;
        }
}

.web__video p{
    grid-area: parrafo ;

    @media only screen and (min-width: 992px) {
        align-self: flex-start ;
        text-align: start;
        margin-left: 6.625rem;
        }

    @media only screen and (min-width: 1024px) {
        font-size: 1.5rem;
        margin-left: 2.5rem;
        }
}

.web__video article{
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo"
                        "parrafo"
                        "video";

    @media only screen and (min-width: 992px) {
        height: 25rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "titulo video video"
                            "parrafo video video";
        }
}

.video__container {
    @extend .video__container;

    @media only screen and (min-width: 992px) {
            align-self: flex-start;
            margin-left: 3.125rem;
        }
}

.web__empresas{
    @extend .ilustraciones__empresas;
}

.web__empresas h3{
    font-size: $responsive_size-l;
    padding-top: 1.875rem;
}

.web__logo--container{
    @extend .ilustraciones__logo--container;
}