@charset "UTF-8";
/*colores*/
/*tamaños*/
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat:wght@100;300;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  box-sizing: border-box;
}

body {
  background-color: #262626;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 0.875rem;
  max-width: 100vw;
  text-align: center;
  padding: 0.9375rem 0.625rem;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
}

a:hover {
  color: #f183c3;
}

.boton {
  color: #f183c3;
  border: 2px solid #f183c3;
  padding: 0.9375rem 1.5625rem;
  border-radius: 0.625rem;
  height: 6.25rem;
}

.boton:hover {
  color: #fff;
  background-color: #f183c3;
}

footer {
  background-color: #2d2d2d;
  max-width: 100vw;
}

li {
  text-decoration: none;
  list-style-type: none;
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: clamp(65px, 20vw, 130px);
}

img {
  width: 100%;
}

h1 {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 900;
  font-size: clamp(41px, 15vw, 60px);
  text-align: center;
}

h2 {
  font-weight: 900;
  text-align: center;
}

h4 {
  font-size: clamp(10px, 10px + 1vw, 20px);
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-decoration: underline #f183c3;
          text-decoration: underline #f183c3;
}

header {
  background-color: #262626;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: clamp(65px, 10vw, 130px);
  box-shadow: 0px 2px 10px #121212;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.navbar > .container-fluid {
  height: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: min(251px, 60%);
}

.navbar-toggler {
  font-size: min(0.8rem + 1vw, 2rem);
}

.navbar-collapse {
  background-color: #262626;
  margin: 8px -12px;
  padding-left: 12px;
  box-shadow: 0px 2px 10px #121212;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: clamp(10px, 10px + 1vw, 20px);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f183c3;
}

nav li {
  padding: 0.4375rem;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  border-color: #f183c3;
  color: #f183c3;
}

/* Hero de la página principal*/
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url(../img/fondorosa.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}

.hero-banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.titulo-hero {
  font-size: clamp(5vw, 6vh, 60px);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 100;
  width: 100%;
}

span {
  font-weight: 900;
  width: 100%;
}

.boton-hero {
  font-size: 0.9rem;
}

.boton-hero .boton {
  color: #f183c3;
  background-color: #fff;
  border: #fff;
}

.boton-hero a {
  font-size: clamp(3vw, 3vh, 60px);
}

/* Seccion Mi historia*/
.conoceme {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1 1fr;
  grid-template-areas: "titulo" "titulo" "foto" "foto" "foto" "parrafo" "parrafo" "boton";
}

.conoceme h1 {
  grid-area: titulo;
}

.conoceme p {
  grid-area: parrafo;
  max-width: 100vw;
  text-align: center;
  padding: 15px 10px;
}

.conoceme__foto-container img {
  width: 100%;
}

.conoceme__foto-container {
  grid-area: foto;
  justify-self: center;
  margin-top: 50px;
  width: min(80vw, 80vh);
}

.boton-conoceme {
  margin: 20px auto;
}

.conoceme a {
  grid-area: boton;
  font-size: 0.9rem;
}

/* Seccion Tarjetas de trabajos*/
.trabajos__titulo {
  color: #f183c3;
  font-size: clamp(41px, 15vw, 60px);
  text-align: center;
  font-weight: 900;
  margin-bottom: 50px;
}

.trabajos-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trabajos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trabajos__ind {
  margin: 50px 0px;
  width: 256px;
  height: 256px;
  background-color: #2d2d2d;
  border-radius: 20px;
  box-shadow: 20px 20px 15px 0 #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h3 {
  color: #f183c3;
  font-size: 25px;
  margin: 10%;
  font-weight: 900;
  text-align: center;
}

.trabajos__ind--iconos {
  width: 130px;
  margin-top: -85px;
}

.trabajos__ind--iconos img {
  width: 100%;
}

.trabajos p {
  display: none;
}

.trabajos__boton-container {
  margin-bottom: 50px;
}

.trabajos a {
  margin: 20px;
  font-size: 0.9rem;
}

/* Tarjetas proyectos*/
.proyectos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyectos__titulo {
  font-size: clamp(41px, 15vw, 60px);
  font-weight: 900;
  width: 90vw;
  margin-top: 50px;
  padding-bottom: 50px;
  color: #f183c3;
  text-align: center;
}

.proyectos__imgcont {
  display: grid;
  grid-template-columns: 2 1fr;
  grid-template-areas: "timestop timestop" "picky gilipollas" "bedel bedel" "interwarp conan" "kuki kuki";
  gap: 3px 1.5px;
}

.proyectos__img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.proyectos__img:hover img {
  transform: scale(1.15);
  transition: 0.5s;
  opacity: 0.2;
}

.proyectos__texto {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  visibility: hidden;
  width: 150px;
  text-align: center;
  transform: translateY(-1000%);
}

.proyectos__img:hover .proyectos__texto {
  visibility: visible;
  opacity: 1;
  transition: 1s;
  transform: translateY(0);
}

.kuki {
  grid-area: kuki;
}

.timestop {
  grid-area: timestop;
}

.interwarp {
  grid-area: interwarp;
}

.conan {
  grid-area: conan;
}

.picky {
  grid-area: picky;
}

.gilipollas {
  grid-area: gilipollas;
}

.bedel {
  grid-area: bedel;
}

/* Logos habilidades con animaciones*/
.habilidades {
  margin-top: 50px;
  height: 470px;
  background-image: url(../img/fondorosa.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habilidades__titulo {
  font-size: 40px;
  text-align: center;
  width: 80vw;
  font-weight: 900;
  padding-top: 50px;
}

.habilidades__logos {
  width: 70%;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.habilidades__logos div {
  width: min(120px, 19vw);
  margin: 9px;
}

@-webkit-keyframes mover {
  from {
    transform: translateY(0px);
    filter: drop-shadow(0px 10px 1px rgba(38, 38, 38, 0.2823529412));
  }
  to {
    transform: translateY(-15px);
    filter: drop-shadow(0px 25px 12px rgba(45, 45, 45, 0.9333333333));
  }
}

@keyframes mover {
  from {
    transform: translateY(0px);
    filter: drop-shadow(0px 10px 1px rgba(38, 38, 38, 0.2823529412));
  }
  to {
    transform: translateY(-15px);
    filter: drop-shadow(0px 25px 12px rgba(45, 45, 45, 0.9333333333));
  }
}
.illustrator {
  -webkit-animation-name: mover;
          animation-name: mover;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.photoshop {
  -webkit-animation-name: mover;
          animation-name: mover;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.premiere {
  -webkit-animation-name: mover;
          animation-name: mover;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.after {
  -webkit-animation-name: mover;
          animation-name: mover;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.corel {
  -webkit-animation-name: mover;
          animation-name: mover;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.wordpress {
  -webkit-animation-name: mover;
          animation-name: mover;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

/* Footer */
.footer__container {
  display: grid;
  grid-template-columns: 0.6fr 1.2fr;
  gap: 6px;
  grid-template-areas: "foto pagina" "foto contacto";
  padding-top: 30px;
}

.footer__paginas {
  display: flex;
  flex-direction: column;
  grid-area: pagina;
  margin-left: 15px;
}

.footer__imgContainer {
  grid-area: foto;
  width: 100px;
  justify-self: end;
}

.footer__contacto {
  display: flex;
  flex-direction: column;
  grid-area: contacto;
  margin-left: 15px;
}

.footer__container ul {
  padding-left: 0;
}

.footer__container a {
  font-size: 10px;
}

.footer__contacto p {
  font-size: 12px;
  margin-bottom: 6px;
  text-align: start;
  padding: 0;
}

.footer__contacto--img {
  width: 50px;
}

/* Página de contacto*/
.hero__contacto {
  margin-top: clamp(65px, 17vw, 130px);
  background-image: url(../img/fondorosa.jpg);
  background-size: cover;
  max-width: 100vw;
}

.hero__contacto--titulo {
  text-align: end;
  font-size: clamp(40px, 12vw, 60px);
  margin-right: 10px;
}

.contactform__container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  margin-top: 20px;
  background-image: url(../img/OhCherry-Background.jpg);
  background-repeat: no-repeat;
  background-position: right center;
}

.contactform__img {
  display: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-floating > .form-control {
  background-color: transparent;
  border: 1px solid #f183c3;
  color: #fff;
}

.form-floating > label {
  color: #f183c3;
  font-weight: 300;
}

.btn-primary {
  color: #fff;
  background-color: #f183c3;
  border-color: #f183c3;
  margin: 20px 0px;
  font-weight: 900;
}

.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #f183c3;
}

.btn-primary:hover {
  color: #f183c3;
  background-color: #fff;
  border-color: #f183c3;
}

.form-control:focus {
  color: #fff;
  background-color: transparent;
  border-color: #f183c3;
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #f183c3;
  background-color: transparent;
  border-color: #f183c3;
  box-shadow: 0 0 0 0.25rem rgba(49, 131, 253, 0);
}

.contacto__section {
  background-color: #f183c3;
  max-width: 100vw;
  margin-top: 30px;
  justify-content: center;
}

.contacto__logos--container h3 {
  font-size: 10px;
  font-weight: 900;
  color: #262626;
}

.contacto__logo {
  display: flex;
  justify-content: center;
}

.contacto__logo img {
  width: 50%;
  margin-top: 10px;
}

/* Página de Mi historia*/
.hero__historia {
  margin-top: clamp(65px, 17vw, 130px);
  background-image: url(../img/fondorosa.jpg);
  background-size: cover;
  max-width: 1240vw;
}

.hero__historia--titulo {
  text-align: end;
  font-size: clamp(40px, 17vw, 60px);
  margin-right: 10px;
}

.sobreMi {
  margin-top: 20px;
}

.sobreMi__img {
  width: min(80vw, 80vh);
  grid-area: s-foto;
}

.trayectoria {
  background-color: #f183c3;
}

.trayectoria h2 {
  padding-top: 20px;
}

.trayectoria__img {
  width: min(80vw, 80vh);
}

.conocimientos {
  margin-bottom: 30px;
}

.conocimientos__foto {
  display: none;
}

.conocimientos p {
  display: none;
}

.conocimientos__logo--container {
  max-width: 100vw;
}

.conocimientos__logo h3 {
  font-size: 12px;
  color: #fff;
  margin: 0px 5px;
}

.conocimientos__logo {
  display: flex;
  align-items: center;
  margin: 9px -11px 0px 3px;
}

.conocimientos__img {
  width: 60px;
}

.video__container {
  width: 250px;
}

@media only screen and (min-width: 416px) {
  .premiere {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .after {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
}
@media only screen and (min-width: 480px) {
  .footer__container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    gap: 6px;
    grid-template-areas: "foto pagina contacto";
  }
  .contacto__logos--container h3 {
    font-size: 12px;
    margin: 6%;
  }
  .footer__imgContainer {
    justify-self: center;
  }
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 15px;
  }
  .trabajos__ind {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .trabajos__ind p {
    display: block;
  }
  .trabajos__ind h3 {
    margin: 0%;
  }
  .habilidades__titulo {
    font-size: 50px;
  }
  .footer__container a {
    font-size: 15px;
  }
  .footer__contacto p {
    font-size: 17px;
  }
  .h2, h2 {
    font-size: 40px;
  }
  .conocimientos__logo h3 {
    font-size: 19px;
  }
  .container p {
    display: block;
    margin: 10px 0px;
    grid-area: c-parrafo;
    text-align: start;
  }
  .container {
    display: grid;
    grid-template-columns: 2 1fr, 1 1fr;
    grid-template-areas: "c-foto c-titulo" "c-foto c-parrafo" "c-foto c-logos";
    align-items: center;
    justify-items: start;
  }
  .conocimientos__titulo {
    grid-area: c-titulo;
  }
  .conocimientos__foto {
    display: block;
    grid-area: c-foto;
  }
  .conocimientos__logo--container {
    grid-area: c-logos;
  }
  .contacto__section {
    background: rgb(38, 38, 38);
    background: linear-gradient(180deg, rgba(38, 38, 38, 0) 34%, rgb(241, 131, 195) 34%, rgb(241, 131, 195) 100%);
  }
  .contacto__logos--container h3 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-dark .navbar-nav .nav-link {
    font-size: clamp(10px, 4px + 1vw, 20px);
  }
  .hero-banner {
    max-width: 1024px;
  }
  .titulo-hero {
    font-size: clamp(5vw, 10vh, 70px);
  }
  .navbar-collapse {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .boton-hero a {
    font-size: clamp(2vw, 3vh, 40px);
  }
  .boton-hero a:hover {
    color: #fff;
    background-color: #262626;
    font-size: clamp(2vw, 3vh, 40px);
  }
  .conoceme {
    display: grid;
    justify-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "foto titulo" "foto titulo" "foto parrafo" "foto parrafo" "foto boton";
  }
  .conoceme h1 {
    text-align: start;
  }
  .conoceme__foto-container {
    width: min(67vw, 50vh);
  }
  .conoceme p {
    text-align: start;
    font-size: 18px;
  }
  .boton-conoceme {
    margin: 0;
  }
  .trabajos {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .trabajos__ind {
    width: 300px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .sobreMi {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "s-foto s-titulo" "s-foto s-parrafo";
    gap: 5px;
  }
  .sobreMi__img {
    width: 350px;
  }
  .sobreMi h2 {
    grid-area: s-titulo;
    align-self: flex-end;
  }
  .sobreMi p {
    text-align: start;
    grid-area: s-parrafo;
    padding: 0;
    align-self: flex-start;
  }
  .trayectoria {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "t-titulo t-foto" "t-parrafo t-foto";
    gap: 5px;
  }
  .trayectoria {
    margin-top: 30px;
    background: linear-gradient(135deg, rgb(241, 131, 195) 0%, rgb(241, 131, 195) 63%, rgb(38, 38, 38) 63%, rgb(38, 38, 38) 100%);
  }
  .trayectoria h2 {
    grid-area: t-titulo;
    align-self: flex-end;
    justify-self: flex-end;
  }
  .trayectoria__img {
    width: 350px;
    grid-area: t-foto;
  }
  .trayectoria p {
    grid-area: t-parrafo;
    text-align: start;
    align-self: flex-start;
  }
}
@media only screen and (min-width: 1024px) {
  .conoceme {
    max-width: 1240px;
  }
  .conoceme h1 {
    align-self: flex-end;
  }
  .conoceme p {
    align-self: center;
  }
  .conoceme__foto-container {
    width: 550px;
  }
  .boton-conoceme {
    align-self: flex-start;
  }
  .trabajos {
    max-width: 1240px;
    gap: 100px;
  }
  .proyectos__imgcont {
    grid-template-columns: 6 1fr;
    grid-template-areas: "kuki kuki timestop timestop interwarp conan" "kuki kuki picky gilipollas bedel bedel";
    gap: 3px;
  }
  .proyectos__imgcont img {
    width: auto;
  }
  .habilidades__logos {
    max-width: 1240px;
  }
  .photoshop {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .premiere {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .after {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .corel {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .wordpress {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .sobreMi {
    max-width: 1240px;
  }
  .hero__historia--banner {
    max-width: 1240px;
  }
  .sobreMi__img {
    width: 550px;
  }
  .footer__container {
    max-width: 1240px;
  }
  .trayectoria {
    max-width: 1240px;
  }
  .hero__contacto--banner {
    max-width: 1240px;
  }
}/*# sourceMappingURL=style.css.map */